html,
body {
  margin: 0;
  padding: 0;
}

.todo_box {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.tasks, 
.comps {
  margin: 20px 0;
}

.tasks.close,
.comps.close {
  border-bottom: 1px solid rgba(0,0,0,.36);
}

#todo_form {
  border-radius: 4px;
  background-color: rgba(44,66,118,.06);
}

#add {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}

#add:focus {
  outline: none;
}

.sub_inp {
  display: none;
  padding: 5px 20px;
}

.priority {
  display: inline-block;
  position: relative;
}

.priority_icon {
  cursor: pointer;
}

.priority_icon i {
  color: #dcdcdc;
  font-size: 25px;
}

.priority_dialog {
  display: none;
  position: absolute;
  left: 0;
  width: 120px;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 0 8px gray;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
}

.priority_dialog > p {
  margin-top: 0;
  text-align: center;
}

.priority_box {
  margin: 0;
  padding: 0;
}

.priority_box li {
  list-style: none;
  position: relative;
  height: 40px;
}

.priority_box input {
  display: none;
}

.priority_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.priority_label:hover {
  background-color: #f5f5f5;
}

.priority_box span {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 0 0 auto;
}

.send svg {
  color: #cdcdcd;
}

.todo_ul {
  padding: 0;
  margin: 20px 0 0 0;
}

.todo_ul.close {
  max-height: 0;
  overflow: hidden;
}

.title {
  font-size: 15px;
  color: rgba(0,0,0,.36);
  display: none;
  position: relative;
  cursor: pointer;
  margin: 0;
  user-select: none;
}

.title::before {
  width: 5px;
  height: 5px;
  content: '';
  border-bottom: 2px solid rgba(0,0,0,.36);
  border-right: 2px solid rgba(0,0,0,.36);
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  left: -10px;
}

.title.close::before {
  transform: rotate(-45deg);
}

.task_li {
  list-style: none;
  display: flex;
  align-items: center;
}

.checkbox_container {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0,0,0,.36);
  border-radius: 3px;
}

.a_high {
  border-color: #e13e39;
}

.b_medium {
  border-color: #ffc817;
}

.c_low {
  border-color: #4b6fde;
}

.d_none {
  border-color: #dcdcdc;
}

.checked_container {
  border: none;
  background-color: #dcdcdc;
}

.checkbox {
  display: block;
  width: 100%;
  height: 100%;
}

.checked {
  position: relative;
  border-radius: 3px;
}

.checked::after {
  position: absolute;
  top: 1px;
  left: 4px;
  display: block;
  content: "";
  width: 4px;
  height: 8px;
  border: solid 2px #fff;
  border-left: 0;
  border-top: 0;
  transform: translateY(-50%);
  transform: rotate(45deg);
}

.todo_ul_contents {
  border-bottom: 1px solid rgba(0,0,0,.36);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.edit {
  position: relative;
  display: inline-block;
  margin: 0 0 0 auto;
}

.edit_btn {
  cursor: pointer;
  color: rgba(0,0,0,.36);
}

.edit_box {
  display: none;
  position: absolute;
  top: 30px;
  left: -20px;
  box-shadow: 0 0 8px gray;
  background-color: #fff;
  padding: 10px;
  z-index: 20;
  width: 180px;
}

.edit_task_inp {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  color: #808080;
}

.edit_task_inp:focus {
  outline: none;
  border: 1px solid #6495ed; 
}

.edit_priority_title {
  font-size: 13px;
  margin-bottom: 5px;
  color: rgba(0,0,0,.36);
  margin-left: 20px;
  user-select: none;
}

.edit_priority_ul {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}

.edit_priority_li {
  list-style: none;
  position: relative;
  width: 30px;
  height: 30px;
}

.edit_priority_inp {
  display: none;
}

.edit_priority_inp:checked + label {
  background-color: #f5f5f5;
}

.edit_priority_label {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.edit_priority_label:hover {
  background-color: #f5f5f5;
}

.edit_priority_li span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.delete {
  margin: 0 0 0 15px;
}

.delete_btn {
  color: rgba(0,0,0,.36);
  text-decoration: none;
}

.comped_task_name {
  opacity: 0.5;
}

.edit_box a {
  font-size: 15px;
  display: block;
  color: #808080;
  text-decoration: none;
  text-align: center;
  border: 1px solid #808080;
  width: 50px;
  padding: 5px 10px;
  margin: 20px auto 0 auto;
  transition: .3s ease;
  border-radius: 5px;
}

.edit_box a:hover {
  background-color: #f5f5f5;
}




